<section class="preguntas">
  <div class="card mb-3" >
    <div class="row g-0">
      <div class="col-md-4">
        <img src="../../../../assets/img/Pregunta.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h3 class="card-title">Preguntas Frecuentes</h3>
          <br><br><br>
          <h4>1.-¿Cómo puedo comprar en La Ciruelita?</h4>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet dolorum dolores vel maxime quas laboriosam molestiae! Eum dicta odit explicabo dolorem assumenda, debitis maiores doloremque in, modi nisi amet atque?</p>
          <h4>2.-¿Es seguro comprar en La Ciruelita?</h4>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet dolorum dolores vel maxime quas laboriosam molestiae! Eum dicta odit explicabo dolorem assumenda, debitis maiores doloremque in, modi nisi amet atque?</p>
          <h4>3.-¿En qué moneda están sus precios?</h4>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet dolorum dolores vel maxime quas laboriosam molestiae! Eum dicta odit explicabo dolorem assumenda, debitis maiores doloremque in, modi nisi amet atque?</p>
          <h4>4.-¿Los precios son por caja, paquete o pieza?</h4>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet dolorum dolores vel maxime quas laboriosam molestiae! Eum dicta odit explicabo dolorem assumenda, debitis maiores doloremque in, modi nisi amet atque?</p>
          <h4>5.-Tengo una cuenta y olvidé mi contraseña,¿cómo puedo recuperla?</h4>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet dolorum dolores vel maxime quas laboriosam molestiae! Eum dicta odit explicabo dolorem assumenda, debitis maiores doloremque in, modi nisi amet atque?</p>
        </div>
      </div>
    </div>
  </div>
</section>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Tipo</th>
      <th scope="col">Cantidad</th>
      <th scope="col">Precio</th>
    </tr>
  </thead>
  <tbody *ngFor='let item ProductList'>
    <tr>
      <th scope="row">{{item.Nombre}}</th>
      <td>{{item.Tipo}}</td>
      <td>{{item.Cantidad}}</td>
      <td>{{item.Precio}}</td>
    </tr>
  </tbody>
</table>

<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>